/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #004d40;
    color: white;
    padding: 1.5em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos del formulario */
.contact-form {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form p {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.form-group textarea {
    resize: vertical;
}

button {
    background-color: #004d40;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #23bba9;
}

/* Estilos del pie de página */
footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 1.5em;
    margin-top: 30px;
}

footer p {
    font-size: 1.1em;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    font-size: 2em; /* Tamaño de los iconos */
    margin: 0 15px;
    color: white; /* Color de los iconos */
    text-decoration: none;
}

.social-icons a:hover {
    color: #23bba9; /* Cambia el color de los iconos al pasar el ratón */
}